* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: rgba(238, 235, 235, 0.719);
}

.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px auto;
    background-color: white;
    width: 95vw;
    border-radius: 8px;
    padding: 20px 0px;
}

#input-text { width: 200px; }

.individual-item {
    display: flex;
    width: 250px;
    margin: 10px 0px;
    justify-content: space-between;
    visibility: hidden; /*hidden by default*/
}

.todo-container {
    display: flex;
    flex-direction: column;
}

.clear-btn {
    visibility: hidden;
    background-color: transparent;
    border: 3px solid tomato;
    border-radius: 8px;
    padding: 0 10px;
    margin-top: 8px;
    color: tomato;
    font-weight: 700;
    cursor: pointer;
    align-self: center;
}

.show-container { visibility: visible; }

.alert {
    text-align: center;
    color: white;
    margin: 10px;
}

.alert-red {
    background-color: tomato;
}

.alert-green {
    background-color: rgb(64, 148, 64);
}

.icon {
    border-style: none;
    background-color: transparent;
    cursor: pointer;
}
